/* Custom style sheet for Project 1 Mockup to website */
/* Builds off included Bootstrap styles for structure and responsiveness */
/* Background CSS from http://lea.verou.me/css3patterns */
/* CSS-tricks from...http://css-tricks.com/ */

/* GLOBAL STYLE UH!
--------------------------------------------------
/* custom color scheme */
[class^='mockup'], 
[class*=' mockup'] {
	color: #fff;
}

.mockup-blue {
	background-color: #25aae1;
}
.mockup-orange {
	background-color: #e1aa25;
}
.mockup-turq {
	background-color: #25e1aa;
}
.mockup-viored {
	background-color: #e125aa;
}

/* awesome custom fonts from icomoon: https://icomoon.io/ 
/* includes currently unused social icons */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?cahfeu');
	src:url('../fonts/icomoon.eot?#iefixcahfeu') format('embedded-opentype'),
		url('../fonts/icomoon.woff?cahfeu') format('woff'),
		url('../fonts/icomoon.ttf?cahfeu') format('truetype'),
		url('../fonts/icomoon.svg?cahfeu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-handlogo2:before {
	content: '\e609';
}
.icon-handlogo1:before {
	content: '\e600';
}

/* general styles */
body {
	font-family: 'Ubuntu';
	font-weight: 400;
   	color: #5a5a5a;
  	padding-bottom: 40px;

    background: rgba(0,0,0,.55);
	background-image: linear-gradient(white 2px, transparent 2px),
		linear-gradient(90deg, white 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

ul {
	list-style: none;
}

/* styles the horizontal line element */
.feature-divider {
	display: none;
	width: 60%;
	margin: 20px 0;
	margin-left: auto;
	margin-right: auto;
}

/* name header styles
-------------------------------------------
/* the name section is a fixed header with higher z-index */
#say-my-name {
	font-family: 'Righteous';
	font-size: 3em;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	position: fixed;
	width: 100%;
	z-index: 400;

	background: #25aae1;
	background-image: linear-gradient(white 2px, transparent 2px),
		linear-gradient(90deg, white 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.logo {
	font-size: 1.2em;
	position: relative;
	margin-right: .4em;
	color: #fff;

	-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes spin {
	to {
		transform: scale(1.2, 1.2) rotate(1080deg);
	}
}

@keyframes spin {
	to {
		transform: rotate(1080deg);
	}
}

.logo:hover {
	color: #e1aa25;

	-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
/*
	-webkit-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite; */

    -webkit-transition: -webkit-transform 1s linear;
    transition: transform 1s linear;
    -webkit-transform: scale(1.2, 1.2) rotate(90deg);
	transform: scale(1.2, 1.2) rotate(90deg);
}

/* "Self-Intro" section
---------------------------------------------------------------
/* currently only includes "professional rank". Based on Bootstrap dimensions
/* Due to fixed name header, top padding used to adjust other content */
#self-intro {
	width: 100%;
	background: #25aae1;
	background-image: linear-gradient(white 2px, transparent 2px),
		linear-gradient(90deg, white 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;

	padding-top: 60px;
}

.pro-rank {
	font: 300 1.5em/1.47857 'Dosis';
	text-align: center;
	margin-bottom: 10px;
	padding: 5px;
}

/* Yay triangles */
/* Uses pseudo elements to style the banner with triangles 
/* From CSS-tricks: http://css-tricks.com/pseudo-element-roundup */
.pro-rank:before,
.pro-rank:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: .75em solid transparent;
	border-bottom: .75em solid transparent;
}

.pro-rank:before {
	left: 0;
	border-left: 1em solid #fff;
}
.pro-rank:after {
	right: 0;
	border-right: 1em solid #fff;
}

/* apply a text-editor effect */
/* Idea: http://lea.verou.me/2012/02/simpler-css-typing-animation-with-the-ch-unit */
@-webkit-keyframes blink {
	0% {
    	color: #fff; 
	}
	50% {
		color: transparent;
	}
	100% {
    	color: #fff; 
	}
}

.blinky {
	-webkit-animation: blink 1s linear infinite;
	animation: blink 1s linear infinite;
	/*border-right: .1em solid;*/
}

/* Displays the color theme used for the project in a hidden DIV
/* Defaults to "display:none". Pops up on hover; linter warning noted */
#colorkey {
	display: none;
	width: 6em;
	height: 6em;
	background-color: #fff;
	border-radius: 1em;
	border: 2px dotted #e1aa25;
}

.swatch {
	position: relative;
	left: -2em;
	font-size: 1em;
}

#self-intro:hover #colorkey {
	display: block;
	position: absolute;
	top: 33%;
	right: 10%;
}

/* features section 
--------------------------------------------
/* Each section has a image, flavor text and button. Builds off bootstrap styles */
.feature-header {
	font: 2em/1.35 'Righteous';
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
	position: relative;
}

/* Uses pseudo elements to style the "works" banner with triangles 
/* From CSS-tricks: http://css-tricks.com/pseudo-element-roundup */
.feature-header:before,
.feature-header:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: .75em solid transparent;
	border-bottom: .7em solid transparent;
}
.feature-header:before {
	left: 0;
	border-left: 1em solid #fff;
}
.feature-header:after {
	right: 0;
	border-right: 1em solid #fff;
}

/* Feature sections change background color on hover and up their image size */
.feature-section {
	padding: 20px;
}

.feature-section:hover {
	background-color: #e1aa25;
}

/* Background uses a partially transparent body-wide psuedo element lying below the body
/* On hover this layer is brought up to obscure content besides the feature box
/* Meant to encourage user to hover over feature box elements
/* Based on effect from CSS-tricks: http://css-tricks.com/pseudo-element-roundup */
.feature-section:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.55);
    z-index: -100;
    pointer-events: none;
}

.feature-section:hover:after {
    z-index: 100; 
    background: rgba(0,0,0,0.1);    
}

.feature-section:hover img, h2, p {
	position: relative;
	color: #3a3a3a;  
}

/* enhance the image on hover of a feature-section */
.feature-section:hover img{
	height: 180px;
	width: 180px;
}

/* Super-fly button gleam on hover
/* courtesy of CSS tricks: http://css-tricks.com/pseudo-element-roundup
/* Note: checked caniuse.com for transition effect support;
/* seems to indicate widespread support for firefox thus no -moz prefix*/
.shiny-button {
   position: relative;
   overflow: hidden;
}

.shiny-button:hover {
	color: #fff;
}

.shiny-button:before {
   content: "";
   width: 200%;
   height: 200%;
   position: absolute;
   top: -50%;
   left: -225%;
   background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,.6), rgba(255,255,255,0)); 
   background-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,.6), rgba(255,255,255,0));  
  -webkit-transition: all .5s ease-out;
   transition: all .5s ease-out;
}

.shiny-button:hover:before {
	left: 200%;
}

/* Lets add tool tips becuz cooool!!
/* Buttons on click/active will pop-up cute "tool tips" created from psuedo elements
/* Elements are transparent until active then slide down above the button
/* Yup, courtesy of CSS tricks: http://css-tricks.com/pseudo-element-roundup 
/* "data-tooltip" is a data attr living in a wrapper element surrounding the button*/
.feature-section .btn-wrapper {
	display: inline-block;
}

/* "body" of the tool tip */
.feature-section .btn-wrapper:after {
	content: attr(data-tooltip);
	font-style: italic;
	position: absolute;
	bottom: 150%;
	left: -10%;
	background: #fff;
	padding: 5px 15px;
	color: black;
	border-radius: 10px;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

/* the little "tail" of the tool-tip */
.feature-section .btn-wrapper:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid #fff;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	opacity: 0;
	left: 50%;
	bottom: 100%;
}

.feature-section .btn-wrapper:active:after {
 	bottom: 120%;
}

.feature-section .btn-wrapper:active:after, 
.feature-section .btn-wrapper:active:before {
 	opacity: 1;
}

/* footer section styles
---------------------------------------------------- */
footer p {
	margin-top: 20px;
	color: #fff;
}

/* defaults to hidden; appears when device screen is 400px or below */
.bottom-logo {
	display: none;
	text-align: center;
	font-size: 4em;
}

.bottom-logo:hover {
	transition: transform, color 1s linear;
	color: #fff;
	transform: rotate(-45deg);
}

/* Ganked from the Bootstrap PUBLICALLY AVAILABLE Carousel demo template. D.R.Y.!
/* Buncha mods tho.
/* MARKETING CONTENT (Bootstrap's terminology)
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
	font-family: 'Dosis';
	font-weight: 700;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing img {
	height: 140px;
	width: 140px;
}

/* RESPONSIVE CSS media queries modded from Carousel template
--------------------------------------------------
/* For small screens, shrink the name header font, hide the logo and adjust spacing
/* conjure up bottom logo and snazzy divider lines*/
@media (max-width: 400px) {

	#say-my-name {
		font-size: 2.7em;
	}

	.logo {
		display: none;
	}

	#self-intro {
		padding-top: 55px;
	}

	.feature-divider {
		display: block;
	}

	.bottom-logo {
		font-size: 8em;
		display: block;
	}
}

/* for larger devices, increase name font and adjust spacing */
@media (min-width: 768px) {

	#say-my-name {
		font-size: 4em;
	}

	#self-intro {
		padding-top: 80px;
	}
}

/* bring the logo back to the party. Enbiggen.*/
@media (min-width: 992px) {

	.bottom-logo {
		display: block;
		font-size: 8em;
	}
}
